footer {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 35px;
    width: 1115px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer-item-topo {
        display: flex;
        justify-content: space-between;

        .lista-link {

            .titulo-lista {
                font-size: 14px;
                letter-spacing: 1.2px;
                font-weight: 400;
            }

            ul {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                li {
                    margin-top: 12px;
                    line-height: 20px;
                }
    
                .li-fale-conosco {
                    margin-top: 35px;

                    span {
                        font-weight: 400;
                    }
                }
            }

            .lista-pagamentos {
                max-width: 180px;
                margin-top: 12px;
    
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
    
                li {
                    margin: 0 8px;
                    margin-top: 12px;
                }
            }

        }
    }
    
    .footer-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link-rede-social {
            img {
                margin-right: 25px;
            }
        }

        .link-econverse-vtex {
            img {
                margin-left: 25px;
            }
        }
        
        .copyright {
            width: 595px;
            height: 28px;
            line-height: 14px;
            letter-spacing: 1px;
            font-size: 10px;
        }

    }
}